
.secondsearch {
    @apply     font-normal not-italic font-poppins  leading-5 tracking-[0.016546187rem] bg-white1 p-[1.3125rem]
}

.search1 {
    @apply flex items-center justify-between w-[36.5rem] bg-white1 mt-[2.4375rem] rounded-[0.3125rem] border-slate-200 border-[0.0625rem] text-sm pr-[1.165625rem];
}





